bod{
    font-family: Arial, sans-serif;
    background-color: rgba(48, 142, 166, 0.24);
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: rgb(253, 253, 253);
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(218, 106, 106, 0.62);
}

input[type="text"], input[type="number"] {
    display: block;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgba(14, 125, 152, 0.86);
    width: 10%; 
    margin-left: 20px; 
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px;
}

button:hover {
    background-color: #555;
}
